<!--
This is your default homepage.
For more information, see:
• https://sailsjs.com/documentation/concepts/views
• https://sailsjs.com/documentation/concepts/routes
-->
<link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div class="default-page">
  <div class="header">
    <h1 id="main-title" class="container">
      <%= __('Aware Server') %>
    </h1>
    <a class="front-nav" href="/app-store">App Store</a>
    <a class="front-nav" href="/categories">Categories & Timelines</a>
  </div>
  <div class="main container clearfix" style="text-align: center;">
    <form class="search-form" action="/app-store" method="GET" style="display: block; text-align: center; margin-bottom: 22px;">
      <input type="search" name="search" style="display: inline;height: 38px;background: #fff;border: 1px solid #9d9494;padding: 10px;border-radius: 8px;width: 30%; min-width: 270px;" placeholder="Search for apps"/>
      <button type="submit" class="install" style="display: inline;float: none; height: 38px;">Search</button>
    </form>
    <div class="cat-sidebar">
        <% categories.forEach( function(category){ %>
            <a style="text-decoration: none;"href="/app-store?category=<%= category %>">
              <li class="category-item">
                <%= category %>
              </li>
            </a>
        <% }) %>
    </div>
    <select class="cat-selector">
        <option value="">Categories</option>
      <% categories.forEach( function(category){ %>
        <option value="<%= category %>">
          <%= category %>
        </option>
      <% }) %>
    </select>
    <div class="app-listings">
        <% appData.forEach( function(app){ %>
            <div class="app-single">
            <div class="image-container">
              <div class="image-overlay"></div>
              <img src="<%= app.app_icon %>">
            </div>
            <span class="app-name"><%= app.app_name %></span>
            <a style="display: block; text-align: left; margin-left: 5px; color: grey;margin-top: -10px;font-size: 15px;" href="/app-store?category=<%= app.app_genre %>"><%= app.app_genre %></a>
            <!-- <span><b>Permission Usage</b></span>             -->
            <!-- <span class="permission-name"><%- app.permissions.split(",").join("<br>") %></span> -->
            <!-- <span><b>Risk Point</b></span> -->
            <!-- <meter class="styledmeter" min="0" max="34" low="10" high="20" optimum="28" value="<%= app.points %>"></meter> -->
            <% if(app.points < 8) { %>
              <div class="risk-safe">Sehr Sicher</div>
            <% } else if(app.points < 15) { %>
              <div class="risk-less-safe">Sicher</div>
            <% } else if(app.points < 22) { %>
              <div class="risk-moderate">Moderat</div>            
            <% }else if(app.points < 28) { %>
              <div class="risk-less-danger">Kritisch</div>
            <% } else { %>
              <div class="risk-danger">Sehr Kritisch</div>            
            <% } %>
            <a href="https://play.google.com/store/apps/details?id=<%= app.package_name%>" target="_blank">
            <button class="install">Install</button>
            </a>
            </div>
        <% }) %>
        <div class="paginate-container">
          <% if(paginator.search) { %>
            
            <% if( paginator.page != 1 ) { %>
              <a class="paginate-prev" href="/app-store?search=<%= paginator.search %>&page=<%= parseInt(paginator.page) - 1 %>"> < Back</a>
            <% } %>
            <% if( appData.length == 12 ) { %>
              <a class="paginate-next" href="/app-store?search=<%= paginator.search %>&page=<%= parseInt(paginator.page) + 1 %>">Next > </a>
            <% } %>

          <% } else if(paginator.category) { %>
            
            <% if( paginator.page != 1 ) { %>
              <a class="paginate-prev" href="/app-store?category=<%= paginator.category %>&page=<%= parseInt(paginator.page) - 1 %>"> < Back</a>
            <% } %>
            <% if( appData.length == 12 ) { %>
              <a class="paginate-next" href="/app-store?category=<%= paginator.category %>&page=<%= parseInt(paginator.page) + 1 %>">Next > </a>
            <% } %>

          <% } else { %>
            <% if( paginator.page != 1 ) { %>
              <a class="paginate-prev" href="/app-store?page=<%= parseInt(paginator.page) - 1 %>"> < Back</a>
            <% } %>
            <% if( appData.length == 12 ) { %>
              <a class="paginate-next" href="/app-store?page=<%= parseInt(paginator.page) + 1 %>">Next > </a>
            <% } %>
          
          <% } %>
        </div> 
    </div>
  </div>
</div>

<script type="text/javascript">
  document.querySelector('.cat-selector').addEventListener('change', function(){
    console.log(this.value);
    if(this.value) {
      window.location.href = "/app-store?category=" + this.value;
    }
  });
</script>
